In [1]:
import pandas as pd

In [2]:
txt_data = pd.read_csv("training_data/250820/test1.txt", delimiter="\t")

In [3]:
print(txt_data)

                        Zeit: Istwert Durchfluss Totalisator  Alarm Nr. 1  \
0                         NaN                NaN         NaN          NaN
1     25.08.2020 13:01:56,810                  0    4,560843          0.0
2     25.08.2020 13:01:56,931                  0    4,560843          0.0
3      25.08.2020 13:01:57,93                  0    4,560843          0.0
4     25.08.2020 13:01:57,226                  0    4,560843          0.0
...                       ...                ...         ...          ...
5376  25.08.2020 13:14:19,488                  0    8,624094          0.0
5377  25.08.2020 13:14:19,633                  0    8,624094          0.0
5378  25.08.2020 13:14:19,776                  0    8,624094          0.0
5379  25.08.2020 13:14:19,923                  0    8,624094          0.0
5380   25.08.2020 13:14:20,62                  0    8,624094          0.0

      Unnamed: 4
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
5376         NaN
5377         NaN
5378         NaN
5379         NaN
5380         NaN

[5381 rows x 5 columns]

In [4]:
txt_data.dtypes

Zeit:                  object
Istwert Durchfluss     object
Totalisator            object
Alarm Nr. 1           float64
Unnamed: 4            float64
dtype: object

In [5]:
txt_data.drop(txt_data[txt_data["Zeit:"].isnull()].index, inplace=True)

In [6]:
txt_data.dropna(axis=1, inplace=True)

In [7]:
txt_data["Time"] = pd.to_datetime(txt_data["Zeit:"])

In [8]:
txt_data.drop(["Zeit:", "Alarm Nr. 1"], inplace=True, axis=1)

In [9]:
txt_data.set_index("Time", inplace=True)

In [10]:
txt_data.dtypes

Istwert Durchfluss    object
Totalisator           object
dtype: object

In [11]:
txt_data.head()

                        Istwert Durchfluss Totalisator
Time
2020-08-25 13:01:56.810                  0    4,560843
2020-08-25 13:01:56.931                  0    4,560843
2020-08-25 13:01:57.930                  0    4,560843
2020-08-25 13:01:57.226                  0    4,560843
2020-08-25 13:01:57.347                  0    4,560843

In [12]:
xls_data = pd.read_csv("training_data/250820/test1.xls", delimiter="\t")

In [13]:
xls_data.columns

Index(['YY/MM/DD', 'Time', 'Normal/Error', 'Stack Voltage(V)',
       'Stack Current(A)', 'Stack Temperatur(C)', 'Remark'],
      dtype='object')

In [14]:
xls_data.drop(["Remark", "Normal/Error"], inplace=True, axis=1)

In [15]:
print(xls_data)

       YY/MM/DD        Time Stack Voltage(V) Stack Current(A)  \
0     20-08-25    13:01:58        19,769231         0,000000
1     20-08-25    13:01:58        19,769231         0,000000
2     20-08-25    13:01:58        19,769231         0,000000
3     20-08-25    13:01:59        19,769231         0,000000
4     20-08-25    13:01:59        19,769231         0,000000
...         ...         ...              ...              ...
2760  20-08-25    13:14:16        16,615385         0,400000
2761  20-08-25    13:14:17        16,615385         0,400000
2762  20-08-25    13:14:17        16,615385         0,400000
2763  20-08-25    13:14:17        16,615385         0,400000
2764  20-08-25    13:14:18        16,615385         0,400000

      Stack Temperatur(C)
0                      27
1                      27
2                      27
3                      27
4                      27
...                   ...
2760                   30
2761                   30
2762                   30
2763                   30
2764                   30

[2765 rows x 5 columns]

In [16]:
xls_data.dtypes

YY/MM/DD               object
Time                   object
Stack Voltage(V)       object
Stack Current(A)       object
Stack Temperatur(C)     int64
dtype: object

In [17]:
xls_data["Time"]= pd.to_datetime(xls_data["YY/MM/DD"] + xls_data["Time"])

In [18]:
xls_data.drop(["YY/MM/DD"], inplace=True, axis=1)

In [19]:
xls_data.set_index("Time", inplace=True)

In [20]:
xls_data

                    Stack Voltage(V) Stack Current(A)  Stack Temperatur(C)
Time
2025-08-20 13:01:58       19,769231         0,000000                    27
2025-08-20 13:01:58       19,769231         0,000000                    27
2025-08-20 13:01:58       19,769231         0,000000                    27
2025-08-20 13:01:59       19,769231         0,000000                    27
2025-08-20 13:01:59       19,769231         0,000000                    27
...                              ...              ...                  ...
2025-08-20 13:14:16       16,615385         0,400000                    30
2025-08-20 13:14:17       16,615385         0,400000                    30
2025-08-20 13:14:17       16,615385         0,400000                    30
2025-08-20 13:14:17       16,615385         0,400000                    30
2025-08-20 13:14:18       16,615385         0,400000                    30

[2765 rows x 3 columns]

In [21]:
xls_data.dtypes

Stack Voltage(V)       object
Stack Current(A)       object
Stack Temperatur(C)     int64
dtype: object

In [22]:
txt_data.sort_index(inplace=True)

In [23]:
df = pd.merge_asof(xls_data, txt_data, on="Time")

In [24]:
df

,Time,Stack Voltage(V),Stack Current(A),Stack Temperatur(C),Istwert Durchfluss,Totalisator
0,2025-08-20 13:01:58,"19,769231","0,000000",27,0,"8,624094"
1,2025-08-20 13:01:58,"19,769231","0,000000",27,0,"8,624094"
2,2025-08-20 13:01:58,"19,769231","0,000000",27,0,"8,624094"
3,2025-08-20 13:01:59,"19,769231","0,000000",27,0,"8,624094"
4,2025-08-20 13:01:59,"19,769231","0,000000",27,0,"8,624094"
...,...,...,...,...,...,...
2760,2025-08-20 13:14:16,"16,615385","0,400000",30,0,"8,624094"
2761,2025-08-20 13:14:17,"16,615385","0,400000",30,0,"8,624094"
2762,2025-08-20 13:14:17,"16,615385","0,400000",30,0,"8,624094"
2763,2025-08-20 13:14:17,"16,615385","0,400000",30,0,"8,624094"
2764,2025-08-20 13:14:18,"16,615385","0,400000",30,0,"8,624094"